.drawer {
  position: fixed;
  top: var(--navbar-height);
  bottom: var(--footer-height);
  left: var(--sidebar-width);
  width: var(--drawer-width);
  background-color: var(--drawer-bg);
  display: none;
  z-index: 10;
}
.drawer.open {
  display: block;
  border-left: 1px solid #ccc; 
}

.settings-list {
  list-style: none;
  margin: 0;
  padding: 0;
}