{% extends "base.html" %}

{% block title %}project budget{% endblock %}

{% block content %}
<div class="page-wrapper">
  <h2>Dodaj transakcję</h2>
  <form method="POST">
    <div class="mb-3">
      <label class="form-label">Nazwa:</label>
      <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Kwota:</label>
      <input type="number" step="0.01" name="amount" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Data:</label>
      <input type="date" name="date" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Kategoria:</label>
      <select name="category" class="form-select" required>
        {% for cat in categories %}
          <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-custom">
      <span class="material-symbols-outlined">add</span>
      Dodaj transakcję
    </button>
  </form>

  <h2 class="mt-5">Lista transakcji</h2>
  <table class="table table-striped table-minimal">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Kwota</th>
        <th>Data</th>
        <th>Kategoria</th>
        <th>Akcja</th>
      </tr>
    </thead>
    <tbody>
      {% for t in transactions %}
      <tr>
        <td>{{ t[1] }}</td>
        <td>{{ t[2] }}</td>
        <td>{{ t[3] }}</td>
        <td>{{ t[4] }}</td>
        <td>
          <form method="POST" action="/update_category/{{ t[0] }}" class="d-inline">
            <button type="submit" class="btn btn-important btn-sm">
              <span class="material-symbols-outlined">edit</span>
              Zmień
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
